@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'League Spartan', sans-serif;
    }
}